header{
  height: 150px;
  width: 215px;
  background-color: #003B75;
  border: solid;
  border-width: 10px;
  border-bottom-color: #001F3D;
  border-top-color: #0052A3;
  border-left-color: #0052A3;
  border-right-color: #001F3D;
  padding: 30px 50px;
  margin: 10px;
  border-style:inset;
}
nav{
  height: 120px;
  width: 215px;
  background-color: #FDFF00;
  border: solid;
  border-width: 10px;
  border-bottom-color: #AEB404;
  border-top-color: #F4FA58;
  border-left-color: #F4FA58;
  border-right-color: #AEB404;
  padding: 50px 50px;
  margin: 10px;
  border-style: inset;
}
img{
  float: left;
}
h1{
  color: #FDFF00;
}
#raro{
  list-style-position:inside;
  list-style-image:url("img/java-icon.png");/* he posat una imatge.png perque la .ico hem donaba problemes, pero te les mides d'una ico*/
  font-family: sans-serif;
  font-variant: small-caps;
  font-style: italic;
  font-size: 20px;
  color: yellow;
  width:500px;
  background-color: #003B75;
  background-attachment: inherit;
  text-align:justify;
  line-height: inherit;
  letter-spacing:inherit;
  word-spacing: inherit;
}
a{
  font-family: sans-serif;
  color: #FDFF00;
  display:inline-block;
  background-color: #800000;
  border: solid;
  border-width: 10px;
  border-bottom-color: #570000;
  border-top-color: #A80000;
  border-left-color: #A80000;
  border-right-color: #570000;
  padding: 5px 15px;
  margin:5px;
  border-style: inset;
}
a:link{
  color: #00FF88;
}
a:hover{
  color: #00FF88;
}
a:active{
  color: #FFC2FF;
}
ol{
  list-style-type:armenian;
  list-style-position:outside;
  display:block;
  font-family: sans-serif;
  font-variant:inherit;
  font-style: oblique;
  font-size: 20px;
  color: #003B75;
  width:500px;
  background-color: #FDFF00;
  background-attachment: inherit;
  text-align: justify;
  line-height: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}
