div{
  height: 100px;
  width: 100px;
  border: solid 5px;
  text-align: center;
  padding-top: 40px;
  box-sizing: border-box;
  margin-bottom: 5px;
}
#divB{
  /*
  position: relative;
  left: 100px;
  bottom: 100px;
  */
  /*
  position: fixed;
  left: 150px;
  top: 50px;
  */
  position: absolute;
}
table{
  /*
  border:;
  border-spacing: ;
  border-radius: ;
  text-transform: uppercase;
  */
}
span{
  /*
  display: block;
  visibility: hidden;
  */
}
