h1{
 color: cyan;
 background-color: yellow;
 padding: 30px 50px 10px 30px;
 border-width: 40px 50px 100px 50px;
 border-style: ridge;
 border-bottom-color: orange;
 border-top-color: magenta;
 border-left-color: : cyan;
 border-right-color: green;
 margin: 0px 30px;
}
#n1{
  font-size: 50px;
  background-color: red;
  color: yellow;
  text-decoration-color: blue;
  text-decoration-line: overline;
  text-decoration-style: dotted;
}
a{
  width: 50px;
  height: 40px;
}
a:link{
  color: cyan;
  background-color: black;
}
a:visited{
  color: magenta;
}
a:hover{
  color:yellow;
}
a:active{
  color: green;
}
li{
  color: red;
  font-size: 30px;
}
ul{
  list-style-type: hebrew;
  list-style-position: inside;
  list-style-image: url(http://static.t13.cl/images/sizes/1200x675/1468445377-it.jpg);
}
