/* *= todo el documento */
* {
  font-family: fantasy, sans-serif;
}
body{
  font-size: 20px;
  background-image: url(https://wallpapercave.com/wp/wp2763891.gif);
  background-repeat: no-repeat;
  background-color: #FF33CC;
  color: #FFFF00;
  line-height: 150%;
  word-spacing: 5px;
}
#lorem{
    font-style: italic;
    font-size: 110%;
    font-variant: small-caps;
    letter-spacing: 15px;
}
h1{
  font: serif;
}
.dreta{
  text-align: right;
}
.esquerra{
  text-align: left;
}
.centre{
  text-align: center;
}
a{
  display: inline-block;
  color: #FF33CC;
  height: 50px;
  float: left;
}
p{
    width: 75%;
    display: block;
    clear: both;
}
