*{
  font-style: italic;
  font-family: sans-serif;
  font-variant: small-caps;
  font-size: 20px;
  color: #000000;
}
body{
  background-color: #750058;
  background-image: url(https://img.freepik.com/vector-gratis/fondo-blanco-concepto-medico-geometrico_1017-15462.jpg?size=626&ext=jpg);
  background-attachment: scroll;
  background-size:cover;
  letter-spacing: 3px;
  word-spacing: 5px;

}
#tit{
  text-align: center;
}
a{
display: inline-block;
width: 90px;
height: 90px;
color: #9E009E;
}
.nav1{
  display: block;
  width: 70px;
  height: 70px;
}
.nav2{
  display: inline;
  width: 100px;
  height: 100px;
}
.nav3{
  display: inline-block;
  width: 150px;
  height: 150px;
}
.paragraf1{
  display: inline-block;
  width: 70px;
  height: 50px;
}
.paragraf2{
  display: block;
  width: 90px;
  height: 115px;
}
.paragraf3{
  display: inline-flex;
  width: 70px;
  height: 60px;
}
#imgE1{
  float: left;
}
#imgE2{
  float: left;
}
#imgE3{
  float: left;
}
#imgD1{
  float: right;
}
#imgD2{
  float: right;
}
#imgD3{
  float: right;
}
