ul{
  border: 5px solid #FF9700;
  background-color: #1B1B1B;
}
li {
  color: #FFFFFF;
}
section{
  background-color: #FFA1A1;
}
div{
  border: solid;
  border-color: #000000;
  background-color: #F9FF71;
  padding: 10px;
}
