*{
 padding: 0px;
 margin: 0px;
 font-family: Verdana;
}
body{
  background-image: url("../img/background.jpg");
  background-size:cover;
}
footer{
  background-color: #565656;
  color: #FFFFFF;
  text-align: center;
}
p {
  text-align : justify;
}
input{
 /*background-image: linear-gradient(to right, #FF9700,#000000,#000000,#FF9700);*/
 border: 5px solid #000000;
 color: #000000;
 background: #FF9700;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;

}
input:hover{
 /*background-image: linear-gradient(to right, #000000,#FF9700,#FF9700,#000000);*/
 border: 5px solid #FF9700;
 color: #FF9700;
 background: #000000;
}
fieldset{
  border: 5px solid #FF9700;
  padding: 20px 20px;
  margin: 10px 300px;
  border-radius: 50px 0px 50px 0px;

}
.titulo{
  padding: 0px 25px 0px 25px;
  height: 10px;
}
.header{
  margin: auto;
  width:500px;
  font-family: Courier;
  background-color: black;
  text-decoration: none;
  width: 100%;
  position: fixed;
}

 ul, ol{
  list-style: none;
}
.headerClass li a{
  background-color: black;
  color: #FFBD5D;
  border-left: 5px solid #FF9700;
  text-decoration: none;
  padding: 15px 25px;
  display:inline-block;
}

.headerClass li a:hover {
  background-color: #FF9700;
  color: #000000;
  border-left: 5px solid #A15F00;
}
.headerClass > li {
  float: left;
}
.headerClass li:hover > ul{
  display:inline-block;
}
.conjunto {
  background-color: hsla(120, 100%, 100%, 0.65);
  border-width: 10px;
  border-left: 20px solid #FF9700;
  border-right: 20px solid #FF9700;
  padding: 25px 10px;
  margin: 10px 100px;
}
.plataformas {
  display:inline-block;
  width: 280px;
  text-align: center
}
#conjuntoPlataformas{
  border-style: solid;
  padding: 20px 0px;
  margin: 10px 100px;
  border-radius: 50px 0px 50px 0px;
}
#flechaSubir{
  position:fixed;
  bottom: 55px;
  right:130px;
  opacity: 0.5;
}
#flechaSubir:hover{
  opacity: 1;
}
#leyendaMapa{
  display:inline-block;
  border-style: solid;
  margin: 15px;
  padding: 15px;
  border-color: #FF9700;
  background-color: #000000;
}
#l1{
  color: #FF5858;
}
#l2{
  color: #6865FE;
}
#l3{
  color: #FFFFFF;
}
table {
  border-collapse: collapse;
}
td, th{
  border: 1px solid black;
}
th {
  background-color: #FB8122;
}
td {
  background-color: #FFC280;
  text-align: center;
  padding: 20px;

}
tr:nth-child(even) td {
  background-color: #FFE9D1;
}
tr:hover td{
  background-color: #A9ACFF;
}

.tooltip .tooltipimg {
  visibility: hidden;
  width: 200px;
  background-color: #FFE9D1;
  text-align: center;
  padding: 25px 25px;
  position: absolute;
  border-style: solid;

}
.tooltip:hover .tooltipimg {
  visibility: visible;
}
.footer li{
  padding: 15px 32px;
}
